apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    app: {{ .Release.Name }}-backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-backend
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          env:
            - name: MONGODB_URI
              value: {{ .Values.backend.env.mongoUri | quote }}
            - name: JWT_SECRET
              value: {{ .Values.backend.env.jwtSecret | quote }}
            - name: NODE_ENV
              value: {{ .Values.backend.env.nodeEnv | quote }}
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
